:host {
    padding: 4rem;
}

.post-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr; 
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    margin: 0 auto;
    padding: 3rem 0;
    box-sizing: border-box;
}