<h2>
  Proof of concepts
</h2>

<ul class="post-group">
  <li *ngFor="let post of posts" class="post-item">
    <div class="post">
      <figure [ngStyle]="{'background-image': 'url(' + post.image + ')'}">
        <h2>{{ post.title }}</h2>
      </figure>
      <p>{{ post.content }}</p>
      <a class="button" href="{{post.file}}" target="_blank" rel="noreferrer noopener">{{ post.title }}</a>
    </div>
    <p class="sub-link">Go to: <a href="{{post.medium}}" target="_blank" rel="noreferrer noopener">Medium post</a></p>
  </li>
</ul>

<span class="scroll">
  Scroll for more Proof of concepts <br>
  <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 512 512">
    <path fill="#b0b0b0" d="M256 0A176 176 0 0 0 80 176v160a176 176 0 0 0 352 0V176A176 176 0 0 0 256 0zm144 336c0 79.4-64.6 144-144 144s-144-64.6-144-144V176c0-79.4 64.6-144 144-144s144 64.6 144 144v160zM256 80a48 48 0 0 0-48 48v64a48 48 0 0 0 96 0v-64a48 48 0 0 0-48-48zm16 112c0 8.8-7.2 16-16 16s-16-7.2-16-16v-64c0-8.8 7.2-16 16-16s16 7.2 16 16v64z"></path>
  </svg>
</span>