@import "../../../scss/variables";

:host {
    background-color: #564bce;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 0;

    &:before {
        content: '';
        display: block;
        position: absolute;
        width: 193px;
        height: 100%;
        background: linear-gradient(to right, transparent, #5b4fda);
        right: 0; 
        z-index: -1;
    }
}

.logo {
    display: block;    
    width: 150px;
    height: 150px;
    margin: 0 auto;
    color: transparent;
    overflow: hidden;
}

.about-content {
    padding: 0 2rem;

    h3 {
        color: #f7f7f7;
    }
}

.links {
    display: flex;
    justify-content: center;

    a { 
        margin: 0 0.5rem;
        display: block;
        color: transparent;
        width: 36px;
        height: 36px;
        overflow: hidden;
        svg {
            color: #262183; 
            transition: 0.3s ease-in-out color;
            &:hover {
                color: white;
            }
        }
    }
}

.navigation {
    display: block;
    position: absolute;
    bottom: 6rem;
    a {
        color: white;
        border-bottom: 1px solid white;

        &:hover {
            border-bottom: 2px solid white;  
        }
    }
}

@media all and (max-width: 740px) {
    :host {
        padding: 2rem 0;  
        
        &:before { 
            display: none;
        }
    }

    .navigation {
        position: initial;
    }
}