@import "../../../scss/variables";

:host {
    background-color: rgb(121, 44, 221);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 0;

    &:before {
        content: '';
        display: block;
        position: absolute;
        width: 193px;
        height: 100%;
        background: linear-gradient(to right, transparent, #762CD9);
        right: 0; 
        z-index: -1;
    }
}

.about-content {
    padding: 0 2rem;

    h1, h3 {
        color: #f7f7f7;
    }

    button {
        color: white;
        background: #4D4BFC;
        outline: none;
        border: none;
        padding: 10px 20px;
    }
}
