@import "../../../scss/variables";

:host {
    background-color: #5141FF;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 0;

    &:before {
        content: '';
        display: block;
        position: absolute;
        width: 193px;
        height: 100%;
        background: linear-gradient(to right, transparent, #5141FF);
        right: 0; 
        z-index: -1;
    }
}

.about-content {
    padding: 0 2rem;

    h1, h3 {
        color: #f7f7f7;
    }

    button {
        color: white;
        background: #4D4BFC;
        outline: none;
        border: none;
        padding: 10px 20px;
    }
}

.links {

    a {
        margin: 0 0.5rem;
        color: #262183; 
        transition: 0.3s ease-in-out color;

        &:hover {
            color: white;
        }
    }
}

@media all and (max-width: 740px) {
    :host {
        padding: 2rem 0;  
        
        &:before { 
            display: none;
        }
    }
}