<header class="header" itemscope itemtype="https://schema.org/WPHeader">
    <a id="js-logo" class="logo" routerLink="/"> <h1>{{ title }}</h1> </a>
    <nav class="navigation-group">
        <a class="navigation-item" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}" routerLink="/" itemprop="url">Home</a>
        <a class="navigation-item" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}" routerLink="/posts" itemprop="url">Posts</a>
    </nav>
</header>

<router-outlet></router-outlet>
<!-- <app-messages></app-messages> -->

<footer class="footer" itemscope itemtype="https://schema.org/WPFooter">
    <h2 class="nocontent hide-from-layout">Footer</h2>
    <h3>Created with <3 by
        <a href="https://maxvanderschee.nl" target="_blank" rel="noreferrer noopener">Me</a>
    </h3>
</footer>
