:host {
    display: block;
    background: white;  
}

.post-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr; 
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    width: 60rem;
    margin: 0 auto;
    padding: 3rem 0;
    box-sizing: border-box;

    @media all and (max-width: 62rem) {
        width: 90%;
        grid-template-columns: 1fr 1fr;
    }

    @media all and (max-width: 30rem) {
        width: 100%;
        grid-template-columns: 1fr;
        padding: 3rem 1rem;
    }
}

.post-item {
    cursor: pointer;
    height: 15rem;
    overflow: hidden;    
    &:first-child {
        grid-column: span 2;
    }
    
    @media all and (max-width: 30rem) {
        &:first-child {
            grid-column: span 1;
        }   
    }
    
    h2 {
        color: white;
        margin: 0;
        text-align: center;
        font-size: 2rem;
        text-shadow: 1px 1px #1b1b1b;
    }
    
    figure {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0;
        border-radius: 5px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: #999898;
        transition: 0.3s ease-in-out;
        
        &:before, &:after {
            content: '';
            display: block;
            position: absolute;
            width: 102%;
            height: 20px;
            border-radius: 50%;
            background: white;
            transform: rotateX(84deg);
            transition: 0.3s ease-in-out;
        }
        &:before {
            top: -10px;
        }
        &:after {
            bottom: -10px;
        }
    
    }
    &:hover figure {
        animation: one .5s ease-in-out forwards;
        &:before, &:after {
            animation: two .5s ease-in-out forwards;
        }
    }

    &:active figure {
        transform: scale(1);
        &:before, &:after {
            transform: rotateX(84deg);
        }
    }
    
}
@keyframes one {
    0%   { transform: scale(1); }
    40%  { transform: scale(0.9); }
    60%  { transform: scale(0.98); }
    100% { transform: scale(0.94); }
}

@keyframes two {
    0%   { transform: rotateX(84deg); }
    40%  { transform: rotateX(0deg); }
    60%  { transform: rotateX(74deg); }
    100% { transform: rotateX(0deg); }
}