:host {
  background: white;  
}

.post-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr; 
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    width: 60rem;
    margin: 0 auto;
    padding: 3rem 0;

    @media all and (max-width: 62rem) {
        width: 90%;
        grid-template-columns: 1fr 1fr;
    }

    @media all and (max-width: 30rem) {
        width: 100%;
        grid-template-columns: 1fr;
    }
}