.post-details {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.411);
}

.post-content {
    background: rgb(206, 203, 203);
    width: 60rem;
    margin: 8rem auto;
}