<div class="post-content">
  <figure [ngStyle]="{'background-image': 'url(' + post.image + ')'}">
    <h2>{{ post.title | uppercase }}</h2>
    <span class="close-button" (click)="toggleState()">x</span>
  </figure>
  <article>
    <ng-container *ngFor="let p of post.content">
      <p *ngIf="p.tag == 'p'"> {{p.content}} </p>
      <img *ngIf="p.tag == 'img'" [src]="p.content" alt="">
      <p class="list" *ngIf="p.tag == 'li'"> {{p.content}} </p>
      <h1 *ngIf="p.tag == 'h1'"> {{p.content}} </h1>
      <h2 *ngIf="p.tag == 'h2'"> {{p.content}} </h2>
      <h3 *ngIf="p.tag == 'h3'"> {{p.content}} </h3>
      <h4 *ngIf="p.tag == 'h4'"> {{p.content}} </h4>
      <h5 *ngIf="p.tag == 'h5'"> {{p.content}} </h5>
    </ng-container>
  </article>
  <a class="scroll-up" href="{{post.url}}" target="_blank" rel="external noopener">View Demo</a>
</div>
<span class="close" (click)="toggleState()"></span>