
:host {
    display: block;
    padding: 1rem;
}

.main {
    max-width: 45rem;
    margin: 0 auto;
}

h2 {
    margin: 0;
}

.redact {
    display: block;
    height: 1rem;
    margin: 0.5rem 0;
    background: #adadad;
    border-radius: 3px;
    transform: scale3d(0, 1, 1);
    transform-origin: center left;
    animation: hide 2s ease-out normal forwards;

    &.short {
        width: 70%;
    }
    &.middle {
        width: 90%;
    }
    &.long {
        width: 100%;
    }
    &.heading {
        width: 30%;
        height: 2rem;
        margin: 1rem 0;
    }
}

p {
    position: relative;
    &:before {
        content: '';
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        background: #f7f7f7;
        border-radius: 3px;
        transform: scale3d(1, 1, 1);
        transform-origin: center right;
        animation: show 2s ease-out normal forwards;
    }
    
}

a {
    color: #5c5c5c;
    border-bottom: 1px solid #5c5c5c;

    &:hover {
        border-bottom: 2px solid #5c5c5c;  
    }
}

@keyframes hide {
  0%   {transform: scale3d(0, 1, 1);}
  100% {transform: scale3d(1, 1, 1);}
}

@keyframes show {
  0%   {transform: scale3d(1, 1, 1);}
  100% {transform: scale3d(0, 1, 1);}
}
