<main class="main">
  <a class="back" routerLink="/">Back to safety</a>
  <h1>Privacy Policy</h1>
  <p>I respect your privacy and your time! So, all "blah blah" legal (insert curse word) is gone :)</p>

  <span class="redact heading"></span>
  <span class="redact long"></span>
  <span class="redact middle"></span>
  <span class="redact long"></span>
  <span class="redact long"></span>
  <span class="redact short"></span>
  
  <h2>Cookies</h2>
  <p>Hmm cookies, I sure like them. I place those cookies to better understand which browser to optimize my Proof of concepts for! I use <a href="https://matomo.org/" target="_blank" rel="noreferrer noopener">Piwik/ Matomo</a> which I host myself.</p>
  
  <span class="redact heading"></span>
  <span class="redact long"></span>
  <span class="redact short"></span>
  <span class="redact long"></span>
  <span class="redact middle"></span>

  <h2>Contact</h2>
  <p>If you want your tracking data to be removed, you can contact me at: <a href="mailto:info@maxvanderschee.nl">info@maxvanderschee.nl</a></p>
  
  <span class="redact heading"></span>
  <span class="redact long"></span>
  <span class="redact middle"></span>
  <span class="redact short"></span>
  <span class="redact middle"></span>
  <span class="redact short"></span>
</main>
