
@mixin bounce($timing, $delay) {
    animation: bounceFade $timing normal forwards $delay cubic-bezier(0.280, 0.840, 0.420, 1);
  }
  
@mixin growthProject($timing, $delay) {
animation: growthProject $timing normal forwards $delay cubic-bezier(0.280, 0.840, 0.420, 1);
}

@mixin projectScroll($timing, $delay) {
animation: projectScroll $timing running alternate infinite $delay ease-in-out;
}

@mixin fade($timing, $delay) {
animation: fadeIn $timing normal forwards $delay cubic-bezier(0.280, 0.840, 0.420, 1);
}

@mixin fadeOut($timing, $delay) {
animation: fadeOut $timing normal forwards $delay cubic-bezier(0.280, 0.840, 0.420, 1);
}

@mixin up($timing, $delay) {
animation: transition-up $timing running alternate infinite $delay ease-in-out;
}