$spacing: 1.2rem;
$white: #ffffff;
$black: #000000;
$grey: #b0b0b0;
$darkgrey: #646464;
$lightgrey: #f7f7f7;
$red: #f14343;
$orange: #ff9900;
$blue: #0071bc;
$green: #a6ca00;
$purple: #5C5BF7;
$primcolor: #281e3f;
$seccolor: #f7f7f7;
$text: $grey;
$border: $grey;
$shadow: rgba(0, 0, 0, 0.39);
